


* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Bad+Script' ;
    

}



a {
    text-decoration: none;

}

#head {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Edu TAS Beginner',cursive ;
}


#heading {
    width: 85px;
    margin-left: 80px;
}

#flex {
    display: flex;
    height: 100%;
}
.hover-links {

    margin-right: 100px;
    font-size: 1.1rem;

    color: black;
    transition: 0.5s ease-in-out;


}


.hover-links:hover {
    color: rgb(6, 138, 138);
}


#flex2{
    
    flex-wrap: wrap;
}

#recipes{
    margin-top:80px;
    gap: 50px;
    max-width: 95%;
    justify-content: space-between;
    padding-left: 30px;
    margin-bottom: 50px;
    display: flex;
    padding-right: 30px;
}

#card1{
    text-align: center;
    gap: 20px;

    padding-top: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(88, 88, 88);
    width: 750px;

}

#card1 ol{
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    
}

#card1 h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}


#pizza {
    width: 100px;
    height: 100px;
    border-radius: 15px;

}

#card1 li{
    list-style: circle;
    
}



#card2{
    text-align: center;
    gap: 20px;

    padding-top: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(88, 88, 88);
    width: 750px;
}
#card2 li{
    list-style: circle;
    
}

#card2 ol{
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;    
    
}

#card2 h2 {
    padding-top: 10px;
}



#manchurian {
    width: 100px;
    height: 100px;
    border-radius: 15px;

}

#card3{
    text-align: center;
    gap: 20px;

    padding-top: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(88, 88, 88);
    width: 750px;
}

#card3 ol{
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#card3 h2 {
    padding-top: 10px;
}



#noodles {
    width: 100px;
    height: 100px;
    border-radius: 15px;

}

#card3 li{
    list-style: circle;
}



#flex3 {
    margin-top: 50px;
    gap: 50px;
    max-width: 100%;
    justify-content: space-between;
    padding-left: 30px;
    margin-bottom: 50px;
    display: flex;
    padding-right: 30px;
}


#card4 {
    text-align: center;
    gap: 20px;

    padding-top: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(88, 88, 88);
    width: 750px;
}

#card4 h2 {
    padding-top: 10px;
}


#biryani {
    width: 100px;
    height: 100px;
    border-radius: 15px;

}
#card4 li{
    list-style: circle;
}

#card4 ol{
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;    
    
}




#card5 {
    text-align: center;
    gap: 20px;

    padding-top: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(88, 88, 88);
    width: 750px;
}

#card5 h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}



#tandoori {
    width: 100px;
    height: 100px;
    border-radius: 15px;

}
#card5 li{
    list-style: circle;
}

#card5 ol{
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;    
    
}


#card6 {
    text-align: center;
    gap: 20px;

    padding-top: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(88, 88, 88);
    width: 750px;
}

#card6 h2 {
    padding-top: 10px;
}


#chilli {
    width: 100px;
    height: 100px;
    border-radius: 15px;

}
#card6 li{
    list-style: circle;
}

#card6 ol{
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;    
    
}